.footer {
  background: darkred;
}

.subsec {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

.column {
  width: 26rem;
  color: #fff;
}

.column h2 {
  font-size: 2.5rem;
  font-family: alata;
  letter-spacing: 0.1rem;
}

.column ul {
  margin-top: 2rem;
  list-style: circle;
  margin-left: 2rem;
}

.column ul li {
  font-size: 1.5rem;
  font-family: poppins;
  margin-top: 1rem;
  cursor: pointer;
}

.column ul li:hover{
color: gainsboro;
}

.rigths{
    color: #fff;
    display: flex;
    margin-top: 8rem;
    margin-left: 4rem;
}

.footer h3{
    font-size: 1rem;
    font-family: 'poppins';
    border-right: 0.2rem solid #fff;
    width: 18rem;
    font-weight: 100;
}

.footer h4{
    margin-left: 3rem;
    font-size: 1rem;
    font-family: 'poppins';
    font-weight: 100;
}

.footer h4 a{
    color: dodgerblue;
    text-decoration: none;
}

/* RESPONSIVE */

@media screen and (max-width: 790px) {

    .subsec{
        grid-template-columns: repeat(1,1fr);
    }
    .column {
        margin-left: 1rem;
        margin-top: 5rem;
    }
    .rigths{
        display: inline-block;
    }
    .rigths h3{
        border-right: none;
    }
    .rigths h4{
        margin-left: 0rem;
    }

}