/* SECTION 1 */

.section1 {
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../public/heroback.jpg) fixed;
  background-size: cover;
}

.section1 h1 {
  color: #fff;
  text-align: left;
  font-size: 4.5rem;
  font-family: poppins;
  margin-top: 22rem;
  margin-left: 3rem;
}

/* SECTION 2 */

.section2 {
  width: 100%;
}

.section2 h2 {
  font-size: 4rem;
  margin-left: 3rem;
  font-family: "poppins";
  color: #000;
  margin-top: -2rem;
}

.line {
  margin-left: 3rem;
  font-size: 5rem;
  color: darkred;
  margin-top: 2rem;
}

.subsec1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  place-items: center;
  margin-top: 9rem;
  row-gap: 6rem;
}

.program {
  box-shadow: 0.5rem 0rem 7rem gray;
  height: 33rem;
  width: 37rem;
}

.imagebox {
  height: 70%;
}

.imagebox img {
  height: 23.1rem;
  width: 37rem;
}

.textbox {
  height: 30%;
  text-align: center;
}

.textbox h2 {
  margin-left: 0rem;
  margin-top: 2rem;
  font-family: "alata";
  font-size: 3.2rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  color: darkred;
}

/* SECTION 3 */

.section3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../public/section3.jpg) fixed;
  background-size: cover;
}

.section3 h2 {
  color: #fff;
  margin-left: 9rem;
  font-size: 4rem;
  font-family: alata;
}

.subsec2 {
  display: flex;
  margin-top: 5rem;
  justify-content: space-evenly;
}

.sec3btn {
  height: 6rem;
  width: 32rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  font-family: poppins;
  font-weight: 500;
  transition: 0.3s all;
}

.sec3btn:hover {
  background: darkred;
  color: #fff;
}

/* SCETION 4 */

.section4 {
  display: flex;
}

.textarea {
  width: 50%;
}

.textarea h2 {
  font-size: 3.5rem;
  margin-left: 3rem;
  font-family: alata;
  margin-top: 4rem;
}

.textarea h2 span {
  color: darkred;
}

.textarea p {
  font-size: 2rem;
  text-align: left;
  margin-left: 2.5rem;
  margin-top: 2rem;
  font-family: poppins;
  color: #454545;
}

.imagearea {
  width: 50%;
}

.imagearea img {
  height: 39rem;
  width: 60rem;
  margin-left: 2rem;
  margin-top: 6rem;
}

.learnmorebtn {
  margin-top: 3rem;
  margin-left: 2.5rem;
  height: 4rem;
  width: 17rem;
  font-size: 1.7rem;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  background: darkred;
  border: none;
  color: #fff;
  border-radius: 0.6rem;
  font-family: alata;
  cursor: pointer;
  transition: 0.2s all;
}

.learnmorebtn:hover {
  background: #fff;
  border: 0.1rem solid #000;
  color: #000;
}

/* SECTION 5 */

.section5 {
  width: 100%;
}

.section5 h2 {
  font-size: 4.5rem;
  margin-left: 5rem;
  font-family: alata;
  margin-top: 3rem;
}

.section5 h2 span {
  color: darkred;
}

.subsec3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 1.5rem;
  margin-top: 6rem;
}

.value {
  height: 38rem;
  width: 36rem;
  border-left: 0.5rem solid darkred;
}

.value h2 {
  font-size: 3rem;
  font-family: wensly;
  margin-left: 3rem;
  font-weight: 500;
  margin-top: 4rem;
}

.value p {
  margin-left: 3rem;
  font-size: 1.7rem;
  margin-top: 2.4rem;
  width: 30rem;
  font-family: alata;
}

.readmorebtn {
  margin-top: 2.5rem;
  margin-left: 3rem;
  height: 3.5rem;
  width: 12rem;
  font-family: "wensly";
  background: darkred;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.2s all;
}

.readmorebtn:hover {
  background: #fff;
  border: 0.1rem solid #000;
  color: #000;
}

/* RESPONSIVE */

@media screen and (max-width: 790px) {
  .section1 h1 {
    font-size: 4rem;
    margin-top: 8rem;
  }
  .subsec1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .program {
    width: 31rem;
  }
  .imagebox img {
    width: 31rem;
  }
  .section4 {
    display: inline-block;
  }
  .textarea {
    width: 100%;
  }
  .imagearea {
    width: 100%;
  }
  .imagearea img {
    height: 26rem;
    width: 35rem;
  }
  .subsec3 {
    grid-template-columns: repeat(1, 1fr);
  }
  .value {
    border-left: none;
    border-bottom: 0.5rem solid darkred;
  }
  .section5 h2{
    margin-left: 2rem;
  }
  .textarea h2{
    margin-left: 2rem;
  }
  .textarea p{
    margin-left: 1.5rem;
  }
  .subsec2{
    display: inline-block;
    text-align: center;
  }
  .sec3btn{
    margin-top: 3rem;
  }
  .section3 h2{
    margin-left: 3rem;
  }
}
